---
---
//P치gina de error 404
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>404 Page Not Found</h1>
    <ul>
        <li>P치gina 1</li>
        <li>P치gina 2</li>
    </ul>

    <p>La p치gina no se ha encontrado. Vuelve a intentarlo.</p>
</body>
</html>