---

import MixLayout from '../layouts/MixLayout.astro';
import NavBar from '../components/NavBar.astro';


import { getCollection } from 'astro:content';

const bookCollection = await getCollection("book");

console.log(bookCollection);

---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<script src="https://unpkg.com/htmx.org@2.0.4"></script>
	
</head>
<body>
	<MixLayout title="Home Page">
		<h1>Home Page</h1>
	</Layout>
	
	<NavBar/>

	 Un partial de una lista que se carga al inicio 

	<ul hx-get="/partials/list" hx-trigger="load"></ul>
	
	 Un partial que se carga al inicio al darle al botón
	
	<div id="message-container">Target</div>

	<button hx-post="/partials/message" hx-target="#message-container"
	hx-swap="innerHTML">Pulse aquí</button>

	<ul>
		{bookCollection.map((book) => (
			<li >
				<a href={`/book/${book.slug}`}>{book.data.title}</a>
			</li>
		))}
	</ul>

	
</body>
</html>