---
const name = ["Juan", "Pedro", "Luis", "Ana", "Maria"];
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nombre: {name}</h1>
    <p id ={`identificador${name}`}>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, consequatur!</p>

    {name.map((name) => (
        <p>{name}</p>
    ))}
    
</body>
</html>