---
---

<nav>
    <ul>
        <li>
            <a href ="/">Home</a></li>
        <li>
            <a href ="/">Home</a>About</li>
        <li>
            <a href ="/">Info</a></li>
        <li>
            <a href ="/">Home</a></li>
    </ul>
</nav>