---
import type { GetStaticPaths } from "astro";
export const getStaticPaths = (() => {
  return [
    { params: { nombre: "Madrid" } },
    { params: { nombre: "Barcelona" } },
    { params: { nombre: "Valencia" } },
  ];
}) satisfies GetStaticPaths;
const { nombre } = Astro.params;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Locations {nombre} </h1>
    
</body>
</html>